.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg-watercolor-about.png");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 96px;
  margin-bottom: 0;
}

.about__title {
  margin: 0;
  margin-bottom: 9px;
}

.about__text {
  width: 720px;
  font-size: 17px;
  line-height: 170%;
  text-align: center;
  margin-bottom: 48px;
}

.about__player {
  position: relative;
}

.about__play-btn-border {
  cursor: pointer;
  position: absolute;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.about__play-btn {
  width: 64px;
  height: 64px;
  background-color: $color-white;
  border-radius: 50%;
}

.about__play-btn:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.about__play-btn:active {
  background: #f4f4f4;
}

.about__play-btn-img {
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about__play-btn:hover .about__play-btn-img {
  opacity: 0.7;
}

.about__play-btn:active .about__play-btn-img {
  opacity: 1;
}

@media (max-width: $mobile-width) {
  .about {
    padding-bottom: 0;
    background-image: url("../img/bg-watercolor-about-mobile.png");
    background-size: 100%;
    background-position: center;
    margin-bottom: 0;
  }

  .about__title {
    padding-top: 44px;
    margin-bottom: 9px;
  }

  .about__text {
    text-align: left;
    font-size: 16px;
    line-height: 160%;
    width: 100%;
  }

  .about__play-btn-border {
    transform: scale(0.84) translate(-50%, -50%);
  }
}
