.faq {
  position: relative;
  width: 100%;
  background-image: url("../img/faq@1x.png"),
    url("../img/bg-watercolor-faq.png"),
    url("../img/bg-bag.png");
  background-size: 645px auto, cover, 197px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: top right, center center, left 550px;
  counter-reset: section;
  margin-bottom: 85px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .faq {
    background-image: url("../img/faq@2x.png"),
      url("../img/bg-watercolor-faq.png"),
      url("../img/bg-bag.png");
  }
}

.faq__wrapper {
  padding-bottom: 60px;
}

.faq__wrapper-question {
  max-width: 560px;
}

.faq__title {
  text-align: left;
  margin-bottom: 10px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq__item {
  border-bottom: 1px solid rgba($color: $color-black, $alpha: 0.2);
  user-select: none;
  cursor: pointer;
}

.faq__item:focus {
  outline: 1px solid $color-black;
}

.faq__question {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 32px;
  padding-left: 29px;
  padding-right: 29px;
  position: relative;
  font-size: 17px;
  line-height: 150%;
  max-width: 420px;
}

.faq__question::before {
  position: absolute;
  counter-increment: section;
  content: counter(section);
  left: 0;
  top: 23px;
  font-weight: bold;
  font-size: 28px;
  line-height: 170%;
  background: $color-yellow-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq__question::after {
  position: absolute;
  content: "";

  width: 17px;
  height: 11px;

  background-image: url("../img/icon-arrow.svg");
  top: 46px;
  right: -102px;
  transition: 0.2s;
}

.faq__answer {
  margin: 0;
  padding-right: 80px;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 140%;
  color: $color-black;
  opacity: 0.74;
  display: none;
}

.faq__answer--active .faq__answer {
  display: block;
}

.faq__answer--active .faq__question::after {
  transform: rotate(180deg);
}

@media (max-width: 1100px) {
  .faq {
    background-image: url("../img/bg-bag.png");
    background-size: 194px auto;
    background-position: -30px 340px;
    min-height: 450px;
    margin-bottom: 80px;
  }

  .faq__wrapper {
    padding-bottom: 0;
  }

  .faq__wrapper-question {
    max-width: none;
  }

  .faq__title {
    text-align: center;
    margin-bottom: 2px;
  }

  .faq__question {
    margin: 0;
    padding-top: 38px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 160%;
    max-width: none;
  }

  .faq__question::before {
    top: 25px;
  }

  .faq__question::after {
    top: 45px;
    right: 0;
    transition: 0.2s;
  }

  .faq__answer {
    padding-right: 0;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 160%;
    color: $color-black;
  }
}
