.how-go {
  position: relative;
  width: 100%;
  background: url("../img/bg-how-go@1x.png"),
    url("../img/bg-watercolor-how-go.png"),
    url("../img/bg-stamp.png");
  background-size: 581px auto, contain, 167px auto;
  background-repeat: no-repeat;
  background-position: left top, left top, right 170px;
  counter-reset: section;
  margin-bottom: 73px;
  padding-top: 1px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .how-go {
    background-image: url("../img/bg-how-go@2x.png"),
      url("../img/bg-watercolor-how-go.png"),
      url("../img/bg-stamp.png");
  }
}

.how-go__wrapper-info {
  margin-left: 50%;
  padding-bottom: 120px;
}

.how-go__title {
  text-align: left;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 24px;
}

.how-go__text {
  max-width: 480px;
  font-size: 15px;
  line-height: 170%;
  color: $color-black;
  opacity: 0.87;
  margin-bottom: 38px;
}

.how-go__instruction {
  max-width: 480px;
  font-weight: 500;
  font-size: 17px;
  line-height: 170%;
  margin-bottom: 31px;
}

.how-go__list {
  max-width: 480px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-go__list::before {
  position: absolute;
  content: "";
  top: 0;
  width: 1px;
  height: 98%;
  left: 8px;
  border-left: 1px dashed $color-black;
  opacity: 0.2;
}

.how-go__item {
  font-size: 15px;
  line-height: 140%;
  position: relative;
  padding-left: 48px;
  margin-bottom: 47px;
}

.how-go__item::before {
  position: absolute;
  content: "";

  width: 36px;
  height: 36px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-white;
}

.how-go__item::after {
  position: absolute;
  counter-increment: section;
  content: counter(section);
  font-weight: bold;
  font-size: 17px;
  line-height: 170%;
  color: $color-yellow;

  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.how-go__add-condition {
  max-width: 552px;
  position: relative;
  font-size: 15px;
  line-height: 140%;
  color: rgba($color: $color-black, $alpha: 0.5);
  padding-left: 16px;
  margin-left: 0;
  border-left: 4px solid $color-yellow;
}

@media (max-width: 1100px) {
  .how-go {
    background-image: url("../img/bg-stamp-mobile.png");
    background-size: 215px auto;
    background-position: right 280px;
    min-height: auto;
    margin-bottom: 82px;
  }

  .how-go__wrapper-info {
    margin-left: 0;
    padding-bottom: 0;
  }

  .how-go__title {
    text-align: center;
    margin: 0;
    margin-top: 0;
  }

  .how-go__text {
    max-width: none;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 24px;
    margin-top: 22px;
  }

  .how-go__instruction {
    max-width: none;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 11px;
  }

  .how-go__list::before {
    height: 88%;
    top: 20px;
    left: 8px;
  }

  .how-go__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 160%;
    min-height: 66px;
    padding-left: 45px;
    margin-bottom: 26px;
  }

  .how-go__item::before {
    left: -10px;
  }

  .how-go__item::after {
    left: 4px;
  }

  .how-go__add-condition {
    padding-left: 10px;
    margin-left: -5px;
  }
}
