.main__title {
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;

  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: $color-blue;
}


@media (max-width: $mobile-width) {
  .main__title {
    font-size: 32px;
    line-height: 39px;
  }
}
