.more-details {
  width: 100%;
  background-image: url("../img/bg-watercolor-details.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 55px;
}

.more-details__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.more-details__wrapper-curator-map {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.more-details__wrapper-curator {
  max-width: 515px;
  margin-right: 39px;
}

.more-details__title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 48px;
}

.more-details__location-text {
  position: relative;
  padding-left: 22px;
  font-size: 15px;
  line-height: 150%;
  opacity: 0.74;
  margin-right: 16px;
}

.more-details__location-text::before {
  position: absolute;
  content: "";
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 18px;
  background: url("../img/css_sprites.png") -226px -91px;
}

.more-details__location-city {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;

  font-variant: small-caps;
  opacity: 0.74;
  padding-bottom: 2px;
  padding-right: 2px;
  border-bottom: 1px dashed $color-blue;
}

.more-details__location-city::after {
  position: absolute;
  content: "";
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background: url("../img/css_sprites.png") -226px -56px;
}

.more-details__curator-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 125px;
}

.more-details__curator-avatar {
  margin-right: 20px;
  border-radius: 50%;
}

.more-details__location {
  margin-bottom: 38px;
}

.more-details__curator-info {
  max-width: 270px;
}

.more-details__curator-text-info {
  font-size: 15px;
  line-height: 150%;
  color: $color-blue;
  margin-right: 8px;
}

.more-details__curator-city {
  font-size: 15px;
  line-height: 150%;
  opacity: 0.74;
}

.more-details__curator-location {
  font-size: 13px;
  line-height: 150%;
  opacity: 0.74;
}

.more-details__social {
  opacity: 0.16;
}

.more-details__social-link {
  margin-right: 12px;
}

.more-details__social-link:hover {
  opacity: 0.7;
}

.more-details__curator-text {
  font-size: 17px;
  line-height: 170%;
  opacity: 0.87;
  margin-top: 30px;
  margin-bottom: 7px;
}

.more-details__wrapper-map {
  width: 100%;
}

.more-details__wrapper-map-img {
  position: absolute;
  right: 0;
}

.more-details__wrapper-call {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.more-details__call-text-wrapper {
  max-width: 340px;
  margin-right: 40px;
}

.more-details__call-text-question {
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  opacity: 0.87;
  margin-top: 0;
}

.more-details__call-text-security {
  font-size: 13px;
  line-height: 150%;
  opacity: 0.5;
}

.more-details__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.more-details__input-field-name,
.more-details__input-field-phone {
  padding: 19px 37px;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  outline: none;
}

.more-details__input-field-name::placeholder,
.more-details__input-field-phone::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;

  color: $color-black;
  opacity: 0.5;
}

.more-details__submit {
  height: 59px;
}

@media (max-width: 1145px) {
  .more-details {
    background-image: none;
    margin-bottom: 64px;
  }

  .more-details__wrapper-curator-map {
    flex-direction: column;
  }

  .more-details__wrapper-curator {
    max-width: none;
    margin-right: auto;
    width: 100%;
  }

  .more-details__title {
    text-align: center;
    margin-bottom: 24px;
  }

  .more-details__curator-wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .more-details__curator-info {
    width: 100%;
  }

  .more-details__curator-avatar {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .more-details__curator-text {
    font-size: 16px;
    line-height: 160%;
  }

  .more-details__wrapper-map {
    width: auto;
    margin-bottom: 10px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .more-details__wrapper-map-img {
    position: inherit;
    width: 100%;
  }

  .more-details__call-text-security {
    margin-bottom: 30px;
  }

  .more-details__wrapper-call {
    flex-direction: column;
  }

  .more-details__call-text-wrapper {
    max-width: none;
    margin-right: 0;
  }

  .more-details__call-text-question {
    font-size: 16px;
    line-height: 150%;
  }

  .more-details__form {
    flex-direction: column;
  }

  .more-details__form .input-block {
    position: relative;
  }

  .more-details__form .input-invalid {
    position: absolute;
    left: 25px;
    top: 40px;
    z-index: 10;
  }

  .more-details__input-field-name,
  .more-details__input-field-phone {
    width: 100%;
  }

  .more-details__input-field-name {
    margin-bottom: 8px;
  }

  .more-details__input-field-phone {
    margin-bottom: 24px;
  }
}
