.preview-inst {
  position: relative;
  width: 100%;
  background-image: url("../img/preview-inst-desktop@1x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 140px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .preview-inst {
    background-image: url("../img/preview-inst-desktop@2x.png");
  }
}

.preview-inst__wrapper-info {
  max-width: 420px;
  margin-left: 58%;
  padding-top: 86px;
  padding-bottom: 190px;
}

.preview-inst__title {
  text-align: left;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 24px;
}

.preview-inst__text {
  font-size: 17px;
  line-height: 170%;
  color: $color-white;
  opacity: 0.87;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 48px;
}

.preview-inst__btn-img {
  vertical-align: middle;
  margin-right: 8px;
  fill: $color-white;
}

.preview-inst__link {
  display: inline-block;
}

@media (max-width: $mobile-width) {
  .preview-inst {
    background-image: url("../img/preview-inst-mobile@1x.png");
    margin-bottom: 80px;
    background-position: center 80px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .preview-inst {
      background-image: url("../img/preview-inst-mobile@2x.png");
    }
  }

  .preview-inst__wrapper-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .preview-inst__title {
    text-align: center;
    margin-bottom: 100px;
  }

  .preview-inst__text {
    font-size: 16px;
    line-height: 160%;
    color: $color-white;
    opacity: 0.87;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    margin-top: 0;
    margin-bottom: 57px;
  }

  .preview-inst__link {
    padding: 18px 57px;
  }
}
