.programs {
  background-image: url("../img/bg-sketch-program.png");
  background-size: 680px auto;
  background-repeat: no-repeat;
  background-position: right 0;
  margin-bottom: 10px;
  margin-left: 200px;
}

.programs__title {
  text-align: left;
  margin-bottom: 66px;
}

.programs__info-slider {
  display: flex;
}

.programs__nav {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.programs__label {
  position: relative;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.87;
  padding-left: 72px;
  padding-right: 11px;
  padding-top: 25px;
  padding-bottom: 29px;
  user-select: none;
  cursor: pointer;
}

.programs__label::before {
  position: absolute;
  content: "";

  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.programs__label[for="program-1"]::before {
  width: 28px;
  height: 33px;
  background: url("../img/css_sprites.png") -10px -120px;
}

.programs__btn--general:checked ~ .programs__info-slider .programs__label[for="program-1"]::before {
  background: url("../img/css_sprites.png") -106px -120px;
}

.programs__label[for="program-2"]::before {
  width: 36px;
  height: 35px;
  background: url("../img/css_sprites.png") -66px -10px;
}

.programs__btn--academic:checked ~ .programs__info-slider .programs__label[for="program-2"]::before {
  background: url("../img/css_sprites.png") -10px -65px;
}

.programs__label[for="program-3"]::before {
  width: 32px;
  height: 25px;
  background: url("../img/css_sprites.png") -174px -100px;
}

.programs__btn--internships:checked ~ .programs__info-slider .programs__label[for="program-3"]::before {
  background: url("../img/css_sprites.png") -174px -55px;
}

.programs__label[for="program-4"]::before {
  width: 32px;
  height: 29px;
  background: url("../img/css_sprites.png") -122px -59px;
}

.programs__btn--volunteering:checked ~ .programs__info-slider .programs__label[for="program-4"]::before {
  background: url("../img/css_sprites.png") -122px -10px;
}

.programs__label[for="program-5"]::before {
  width: 23px;
  height: 25px;
  background: url("../img/css_sprites.png") -96px -173px;
}

.programs__btn--religious:checked ~ .programs__info-slider .programs__label[for="program-5"]::before {
  background: url("../img/css_sprites.png") -53px -173px;
}

.programs__label--checked {
  background: $color-yellow-gradient;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1;
}

.programs__btn:focus ~ .programs__info-slider .programs__label--checked {
  outline: 1px solid $color-black;
}

.programs__label--checked::after {
  position: absolute;
  content: "";
  right: -34px;
  top: 50%;
  transform: translateY(-50%);
  border: 37px solid $color-white;
  border-left: 30px solid transparent;
}

.programs__info-list {
  margin-left: 64px;
}

.programs__info-block {
  display: none;
  opacity: 0;
}

.programs__info-title {
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $color-blue;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 24px;
}

.programs__info-text {
  max-width: 560px;
  font-size: 15px;
  line-height: 170%;
  opacity: 0.87;
}

@media (max-width: $mobile-width) {
  .programs {
    background-size: 320px auto;
    background-position: right 135px;
    margin-bottom: 65px;
    margin-left: 0;
  }

  .programs__title {
    text-align: center;
    margin-bottom: 16px;
  }

  .programs__info-slider {
    flex-direction: column;
  }

  .programs__nav-wrapper {
    margin-bottom: 0;
    overflow: hidden;
  }

  .programs__nav-menulimiter {
    padding-bottom: 5px;
    margin-bottom: -20px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .programs__nav-wrapper:last-child {
    margin-bottom: 0;
  }

  .programs__nav {
    margin-bottom: 32px;
    cursor: grab;
    flex-direction: row;
  }

  .programs__label {
    padding-left: 52px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 60.6704px;
    opacity: 0.4;
  }

  .programs__label::before {
    left: 12px;
  }

  .programs__label--checked {
    opacity: 1;
  }

  .programs__label--checked::after {
    border: none;
  }

  .programs__info-list {
    margin-left: 0;
  }

  .programs__info-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 18px;
  }

  .programs__info-text {
    font-size: 14px;
    line-height: 160%;

    max-width: none;
  }
}
