.review {
  position: relative;
  width: 100%;
  margin-bottom: 109px;
}

.review__sketch {
  position: absolute;
  top: 50px;
  right: 0;
  width: 535px;
  height: 318px;
  background-image: url("../img/bg-sketch-review.png");
  background-repeat: no-repeat;
}

.review__title {
  margin-bottom: 48px;
}

.review__wrapper {
  position: relative;
  min-height: 475px;
}

.review__slider {
  display: flex;
}

.review__slide {
  display: flex;
}

.review__avatar {
  margin-right: 40px;
  min-width: 364px;
}

.review__wrapper-info {
  position: relative;
  max-width: 680px;
}

.review__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;

  color: $color-black;
  opacity: 0.74;
  margin: 0;
  margin-bottom: 8px;
}

.review__program {
  font-size: 15px;
  line-height: 140%;
}

.review__program-naming {
  color: $color-blue;
  margin-right: 8px;
}

.review__text {
  font-size: 17px;
  line-height: 170%;
  color: $color-black;
  opacity: 0.74;
  margin-bottom: 16px;
}

.review__see-more {
  font-size: 17px;
  line-height: 150%;
  text-decoration-line: underline;
  color: $color-blue;
}

.review__social {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.16;
}

.review__social-link {
  margin-right: 15px;
}

.review__slider-nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: 440px;
  bottom: 10px;
}

.review__slider-counter {
  margin-right: 24px;
  font-size: 17px;
  line-height: 150%;
  opacity: 0.5;
}

.review__slider-arrow-wrapper {
  line-height: 0;
  font-size: 0;
}

.review__slider-arrow {
  position: relative;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
}

.review__slider-arrow::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 18px;

  background-image: url("../img/icon-arrow-button.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.review__slider-arrow--next {
  transform: rotate(180deg);
}

@media (max-width: 1100px) {
  .review__slide {
    flex-direction: column;
  }

  .review__sketch {
    top: 850px;
    width: 439px;
    height: 261px;
    background-repeat: no-repeat;
  }

  .review__wrapper-info {
    max-width: none;
    display: flex;
    flex-direction: column;
  }

  .review__avatar {
    width: 240px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 58px;
  }

  .review__avatar-img {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 320px;
  }

  .review__program {
    font-size: 14px;
    line-height: 160%;
    display: flex;
    flex-direction: column;
  }

  .review__program-naming {
    color: $color-blue;
    margin-right: 8px;
  }

  .review__text {
    font-size: 16px;
    line-height: 160%;
  }

  .review__see-more {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 44px;
  }

  .review__social {
    left: 0;
  }

  .review__slider-nav {
    display: none;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
  }
}
