.want-go {
  position: relative;
  width: 100%;
  background: url("../img/bg-girl-flag-@1x.png"),
    url("../img/bg-backpack.png");
  background-size: 818px auto, 140px auto;
  background-repeat: no-repeat;
  background-position: right top, left 120px;
  margin-bottom: 0;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .want-go {
    background-image: url("../img/bg-girl-flag-@2x.png"),
      url("../img/bg-backpack.png");
  }
}

.want-go__wrapper-callback {
  padding-top: 210px;
  padding-bottom: 150px;
  padding-left: 110px;
}

.want-go__title {
  text-align: left;
  margin: 0;
  margin-bottom: 24px;
}

.want-go__text {
  max-width: 400px;
  font-size: 17px;
  line-height: 170%;
  opacity: 0.87;
  margin-bottom: 64px;
}

.want-go__background {
  display: flex;
  margin-left: auto;
}

.want-go__form {
  display: flex;
}

.want-go__input-field {
  width: 477px;
  padding: 19px 40px;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  outline: none;
}

.want-go__input-field::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;

  color: $color-black;
  opacity: 0.5;
}

.want-go__submit {
  margin-left: -210px;
  z-index: 10;
}

@media (max-width: 1145px) {
  .want-go {
    background-image: url("../img/bg-girl-flag-@1x.png"),
      url("../img/bg-backpack.png");

    background-position: center bottom, left 0;
    background-size: 434px auto, 120px auto;

    min-height: 600px;
  }

  .want-go__wrapper-callback {
    padding-top: 0;
    padding-left: 16px;
  }

  .want-go__title {
    font-size: 32px;
    line-height: 39px;

    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }

  .want-go__text {
    max-width: none;
    font-size: 16px;
    margin-bottom: 21px;
    text-align: center;
  }

  .want-go__form {
    width: 100%;
    display: inline-block;
  }

  .want-go__form .input-block {
    position: relative;
  }

  .want-go__form .input-invalid {
    position: absolute;
    left: 25px;
    top: 40px;
    z-index: 10;
  }

  .want-go__input-field {
    width: 100%;
    margin-bottom: 8px;
  }

  .want-go__submit {
    display: block;
    width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 375px) {
  .want-go__text {
    text-align: left;
  }
}
