.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 440px;
  padding-bottom: 183px;
}

.promo__title {
  display: flex;
  margin-bottom: 32px;
  width: 350px;

  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $color-white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.promo__mouse-border {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: 1px dashed $color-white;
  border-radius: 50%;
  padding: 11px;
}

.promo__mouse-pointer {
  position: relative;
  border: 1px solid $color-white;
  padding: 27px;
  border-radius: 50%;
}

.promo__img::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  width: 17px;
  height: 26px;

  background-image: url("../img/css_sprites.png");
  background-position: -226px -10px;
}

@media (max-width: $mobile-width) {
  .promo {
    padding-top: 257px;
    padding-bottom: 135px;
  }

  .promo__title {
    width: 320px;
    font-size: 20px;
    line-height: 24px;
  }
}
