.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.top-block__phone,
.top-block__request-call {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $color-black;
}

.top-block__request-call {
  text-transform: uppercase;
  border-bottom: 1px dashed $color-black;
}

@media (max-width: $mobile-width) {
  .top-block {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 0;
  }

  .top-block__logo-link {
    position: absolute;
    left: 16px;
  }

  .top-block__logo-img {
    width: 120px;
    height: 42px;
  }

  .top-block__phone {
    margin-bottom: 10px;
  }
}
